@use "../common/Theme";

.expCard .company {
    font-size: 24px;
}

.expCard .jobDescription {
    color: Theme.$secondary-text-color;
    font-size: 14px;
    width: 80%;
}

.expCard .jobTitle {
    color: Theme.$secondary-text-color;
    font-size: 20px;
}


.expCard .companyLogo {
    width: 60px;
    height: 60px;
    border: 1px solid Theme.$text-color;
    border-radius: 10%;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: 25%;
    margin-top: 5%;
    background-color: Theme.$secondary-pane-color;
}

.expCard .expTitle {
    display: grid;
    grid-template-columns: 90% auto;
}